/*指定logo图案*/
.logo{
	background-image: url("../images/main/logo.gif");
 }
 .line_pic{
	background-image: url("../images/main/line_pic.gif");
 }
 /*指定横幅图案*/
  .top_banner{
	background-image: url("../images/main/top_banner.gif");
 }
  .top_arrow02{
	background-image: url("../images/main/top_arrow02.gif");
 }
  .top_bg{
	background-image: url("../images/main/top_bg.gif");
 }
 .menu_arrow01{
	background-image: url("../images/main/menu_arrow01.gif");
 }
  .left_menu{
	background-image: url("../images/main/left_menu.gif");
 }
.top_arrow04{
	background-image: url("../images/main/top_arrow04.gif");
 }
.top_arrow06{
    
	background-image: url("../images/main/top_arrow06.gif");
 }
.top_bg02{
	background-image: url("../images/main/top_bg02.gif");
 }
 .top_menu{
	background-image: url("../images/main/top_menu.gif");
 }
 .top_arrow05{
	background-image: url("../images/main/top_arrow05.gif");
 }
 
  .top_arrow{
	background-image: url("../images/main/top_arrow.gif");
 }
 
  .top_arrow03{
	background-image: url("../images/main/top_arrow03.gif");
 }
  .left_menu_bg{
    text-align:center;
	cursor:hand;
	font-size:13px;
	background-image: url("../images/main/left_menu_bg.gif");
 }

/*工具条背景色、渐变背景图*/
.toobar_shade{
 background-color:#F7F7F5;
 background-image: url("../images/main/mian_bg.gif");
}
/*工具条顶部线*/
.toobar_topline{
background-image: url("../images/main/line_pic04.gif");
}
/*工具条底部线*/
.toobar_bottomline{
background-image: url("../images/main/line_pic03.gif");
}
/*工具条左端的垂直分隔线*/
.toobar_uprightnessline{
background-image: url("../images/main/mian_arrow01.gif");
}
/*屏蔽左边菜单区域的按钮操作样式*/
.variety {   
 cursor:hand;
 star:expression(
   onclick = function(){ 
     if(window.parent.document.all.main.cols == "0,*"){
	    this.src = this.src="../images/main/left_arrow03.gif";
	      
	    window.parent.document.all.main.cols = "165,*";
	 }else{
	    window.parent.document.all.main.cols = "0,*";
	    this.src = this.src="../images/main/left_arrow04.gif";
	    
	 }

    
   })
   }
/*屏蔽左边菜单区域的按钮操作样式B*/
.varietyb {   
 cursor:hand;
 star:expression(
   onclick = function(){ 
     if(window.parent.document.all.main.cols == "0,8,*"){
	    this.src = this.src="../images/main/left_arrow03.gif";
	      
	    window.parent.document.all.main.cols = "165,8,*";
	 }else{
	    window.parent.document.all.main.cols = "0,8,*";
	    this.src = this.src="../images/main/left_arrow04.gif";
	    
	 }

    
   })
   }
